
.header{
    /* display: flex; */
    background-color: rgb(64, 85, 175);
    height: 5rem;
}

.header__align{
    display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  padding-left: 20px;
  padding-right: 20px;
    background-color: rgb(64, 85, 175);
    height: 5rem;
}

.img_logo{
    /* padding: 20px; */
    margin-right: 10px;
}

.logo{
    fill: white;
}

.heading{
    color: white;
    
}

.main_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_content{
   margin-top: 5rem;
   padding-top: 5rem ;
    font-size:6rem;
    font-weight:350;

}

.heading_content1{
    font-size:6rem;
    font-weight:350;
}

.btn{
    padding-top: 2rem ;
}

.menu_btn{
align-items: center;
color: white;
border-radius: 8px;
border-style: none;
width: 10rem;
height: 3rem;
font-size: larger;
font-weight: 500;
    background-color: rgb(64, 85, 175);
}

@media only screen and (max-width: 600px) {
    
    .heading_content{
        margin-top: 3rem;
        padding-top: 3rem ;
        /* margin-left: 3.7rem; */
         font-size:2rem;
         font-weight:350;
     
     }

     .heading_content1{
        font-size:2rem;
        font-weight:350;
        /* margin-right: 4rem; */
    }

    .main_heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  }